@media only screen and (max-width: 1199.5px) {
    .container {
        max-width: 100%;
        padding: 0 50px
    }
}

@media only screen and (max-width: 991.5px) {
    .container {
        max-width: 100%;
        padding: 0 20px
    }
    .sec-2 {
        height: auto;
    }
    .sec-2 .p-tag {
        margin-bottom: 50px;
    }
    .sec-3 {
        height: auto;
    }
    .sec-7 {
        height: auto;
    }
    .sec-7 .table-responsive {
        padding: 0 50px;
    }
    .sec-8 #faq {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 767.5px) {
    .main {
        height: 100%;
        background-position: center;
    }
    #stickyButton {
        display: block;
    }
    .sec-5 {
        height: 100%;
    }
    .sec-6 {
        height: 100%;
        margin-top: 70px;
    }
    .sec-3 .left-side .pink {
        width: 100%;
    }
    #stickyButton .pink {
        width: 100%;
    }
    #stickyButton {
        z-index: 999;
    }
    .sec-9 .right .pink {
        width: 100%;
    }
    .sec-7 .table-responsive {
        padding: 0 0px;
    }
    .sec-8 #faq {
        padding: 0 0px;
    }
    .sec-7 .pink {
        width: 100%;
    }
}

@media only screen and (max-width: 500.5px) {
    .main .left-side .btn-groups {
        gap: 5px;
    }
    .main .left-side .btn-groups .simple {
        width: 100%;
        margin-bottom: 30px;
    }
    .main .left-side .btn-groups .pink {
        width: 100%;
    }
    .sec-5 ul {
        flex-direction: column;
        margin: 0;
    }
    .sec-5 ul li {
        width: 100%;
        padding-bottom: 10px;
    }
}